# Build output
build/
cmake-build-*/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# JUCE generated/user files
*.jucer
*.xcuserstate
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Plugin artifacts
*.vst3
*.component
